/*
 * Author: Maverick Chan
 * Project: Same Page
 *
 */

/* Basic page requirements for consistency */
body {
}

abbr[title] {
    border-bottom-width: 0;
    cursor: pointer;
}

.navbar-fixed-top {
    background-color: #F2F2F2;
}

.signature-text {
    color: #424242;
}

/* Front page */
.front-body {
    padding-top: none;
}

.signup-stripe {
    background-image: url(/static/images/marketing-hero.jpg);
    background-size: cover;
    color: #F2F2F2;
    padding: 8em;
}

#signup-username, #signup-pw {
    width: 20em;
}

