/*
 * Author: Maverick Chan
 * Project: Same Page
 *
 */

// Basic page requirements for consistency
body {
    padding-top: 6em;
}

abbr[title] {
    border-bottom-width: 0;
    cursor: pointer;
}

.signature-text {
    color: #424242;
}

// Front page
.signup-stripe {
    background-image: url(/static/images/marketing-hero.jpg);
}

