/*
 * Author: Maverick Chan
 * Project: Same Page
 *
 */

body {
    padding-top: 6em;
    padding-bottom: 4em;
}

abbr[title] {
    border-bottom-width: 0;
    cursor: pointer;
}

.signature-text {
    color: #424242;
}

.glyphicon-heart,
.glyphicon-chevron-left,
.glyphicon-chevron-right {
    font-size: 0.8em;

}
